*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite
*.dat

world/*
world_nether/*
world_the_end/*
spawn/*
mstore/*
crash-reports/*
plugins/Essentials/spawn.yml
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/WorldEdit/schematics/
plugins/Denizen/saves.yml
plugins/DiscordSRV/linkedaccounts.json
plugins/Quests/playerdata/
plugins/React/cache/
plugins/ServerListPlus/PlayerCache.json
plugins/dynmap/*
plugins/UltraCosmetics/data/
plugins/VotingPlugin/*
plugins/WeatherVote/Stats.yml
plugins/Werewolf/players/
plugins/WorldEdit/sessions/
!plugins/VotingPlugin/Config.yml
!plugins/VotingPlugin/VoteSites.yml
!plugins/VotingPlugin/Rewards/*
!plugins/dynmap/configuration.txt

banned-ip.json
banned-players.json
ops.json
usercache.json
whitelist.json
